#display{
  /* display: flex; */
  /* align-items: center; */
  align-content: center;
  background-color: aqua;
  min-width: 100%;
}
 #display>div{
   /* display: flex; */
  /* background-color: blue; */
  border: 2px solid white;
} 
#display>div>h3{
  /* display: flex; */
 /* background-color: blue; */
 /* background-color: blueviolet; */
 text-align: center;
} 
#display>div>div{
  /* display: flex; */
 /* background-color: blue; */
 /* background-color: blueviolet; */
 text-align: center;
}
#display>div>div>span{
  /* display: flex; */
 /* background-color: blue; */
 /* background-color: blueviolet; */
margin: 10px;
}
#display>div>div>button{
  /* display: flex; */
 /* background-color: blue; */
 /* background-color: blueviolet; */
 background-color: rgb(102, 15, 233);
 color: white;
 border: none;
 width: 100px;
 height: 20px;
 border-radius: 5px;

}
#display>div>div>button:hover{
  /* display: flex; */
 /* background-color: blue; */
 /* background-color: blueviolet; */
 background-color: rgb(241, 48, 14);
 
}
#display_main{
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}